<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 데이터 바인딩 {{ data 이름 }}-->
        <p>{{num}}</p>
        <p>{{doubleNum}}</p>

        <!-- 뷰 디렉티브 : [v-]가 붙는 특수한 속성들 -->
        <!-- 속성 동적할당 : v-bing:속성명  -->
        <p v-bind:id="uuid" v-bind:class="name">{{num2}}</p>
        
        <!-- if/else 구문 (제어문) 
             데이터 loading이 false이면 DOM의 정보는 제거됨 -->
        <div v-if="loading">
            Loading...
        </div>
        <div v-else>
            test user has been logged in
        </div>

        <!-- loading이 true면 표시, false면 display: none 
             데이터 loading이 false이더라도 Dom의 정보는 남아있음 -->
        <div v-show="loading">
            Loading...
        </div>

        <!-- TODO: 인풋 박스를 만들고 입력된 값을 p태그에 출력해보세요 -->
        <!-- https://kr.vuejs.org/v2/guide/forms.html -->
        <input type="text" v-model="message"/>
        <p>
            {{message}}
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                num: 10,
                num2: 11,
                uuid: 'abc1234',
                name: 'text-blue',
                loading: true,
                // 초기화 
                message: ''
            },
            // data의 num값이 바뀌면 computed의 doubleNum 값도 함께 바뀐다
            computed: {
                doubleNum: function(){
                    return this.num * 2;
                }
            }
        })
    </script>
</body>
</html>